body {
  	width: calc(100% - 30px);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px auto;
}


#centeringClass {
  margin: 0 auto;
}

.formDataColumns {
  width: 400px;
  border: 1px solid purple;
  float:left;
  display: block;
  padding: 10px 1% 10px 1%;

}

/*.formDataColumns:first-child {
  margin: 5px 2px 5px auto;
}

.formDataColumns:last-child {
  margin: 5px auto 5px 2px;
}
*/
.formDataColumns p {
  text-align: right;
  padding: 5px 5% 5px 5px;
}
/*
.formDataColumns label,input {
  right: 5%;
}
*/
.formDataColumns label {
}

.formDataColumns input {
/*  border: 1px solid black; */
  width: 200px;
  height: 1.5em;
}

#formEmployeeSubmit {
  background-color: beige;
  height: 1.9em;
  font-size: 1em;
  border-radius: 6px;
  width: 205px
}




.employeeDataColumn {
  width: 15%;
  border: 1px solid gray;
  float: left;
  display: block;
  margin: 5px 2px;

}

.employeeDataColumn span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
/*  doesn't seem to change...
  padding-bottom: 15px;
  margin-bottom: 15px; */
}

#employees {
  clear: both;
}

#employees p {
  margin: 1px 1px;
  padding: 1px 1px;
  height: 1.5em;
}


#monthlySalary {
  clear: both;
}



.FName {
  background-color: lightblue;
}

.LName {
  background-color: lightgreen;
}

.ID {
  background-color: yellow;
}

.Title {
  background-color: blanchedalmond;
}

.AnnSal {
  background-color: tomato;
}

.DelButton {
  background-color: lightpink;
}
