body {
  	width: calc(100% - 30px);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 10px auto;
}

form {
  width: 80%;
  margin: 10px auto;
}


.formDataColumns {
  width: 330px;
/*  border: 1px solid purple; */
  display: block;
  padding: 10px 1% 10px 1%;
  margin: 5px auto;
}

form:first-child .formDataColumns {
  float: left;
}

.formDataColumns p {
  text-align: right;
  padding: 5px 5% 5px 5px;
}

.formDataColumns label {
}

.formDataColumns input {
  width: 200px;
  height: 1.7em;
  font-size: 0.95em;
  padding: 2px 3px;
}

#formEmployeeSubmit {
  background-color: whitesmoke;
  height: 2.1em;
  font-size: 1em;
  border-radius: 6px;
  width: 210px
}

.dataCenteringClass {
  width: 98%;
  margin: 10px auto;
}

.employeeDataColumn {
  width: calc((98% - 130px)/5);
  border: 1px solid gray;
  float: left;
  display: block;
  margin: 5px 2px;
  padding: 2px 2px;
}

.employeeDataColumn span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
}

.employeeDataColumn div:nth-of-type(5n) {
  border-bottom: 1px solid black;
} /* puts a line in every fifth row*/

#employees {
  clear: both;
  width: 99%;
  margin: 0 auto;
}

#employees p {
  margin: 1px 1px;
  padding: 1px 1px;
  height: 1.5em;
}

#monthlySalary {
  clear: both;
  width: 99%;
}

.FName {
  background-color: lightblue;
}

.LName {
  background-color: lightgreen;
}

.ID {
  background-color: lavender;
}

.Title {
  background-color: blanchedalmond;
}

.AnnSal {
  background-color: gold;
}

.DelButton {
  background-color: tomato;
  width: 80px;
}
